.product-main-shop {
    width: 83%;
    margin: 0 auto;
    & > .main-shop-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        margin-top: 4rem;
        width: 100%;
    }
    & > .custom-loader {
        --d: 25px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        color: var(--color-red);
        margin: 10rem auto;
        box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0, calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 2px,
            calc(0 * var(--d)) calc(1 * var(--d)) 0 4px, calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 6px,
            calc(-1 * var(--d)) calc(0 * var(--d)) 0 8px, calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 10px,
            calc(0 * var(--d)) calc(-1 * var(--d)) 0 12px;
        animation: s7 1s infinite steps(8);
    }
    & > .load-more {
        margin-top: 5rem;
        & > .button {
            padding: 2rem 6rem;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 1rem;
            background-color: white;
            color: var(--color-red);
            transition: all 0.3s ease-in-out;
            & > span {
                font-size: 2rem;
            }
            &:hover {
                color: var(--color-fff1);
                background-color: var(--back-ground-red);
            }
        }
    }
}

.shop-list-item {
    position: relative;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    & > .list-discount {
        width: 31px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 12px;
        left: 17px;
        z-index: 1;
        border-radius: 50%;
        font-size: 12px;
        background: #982d41;
        color: #fff;
        font-weight: 600;
    }
    & > .list-img {
        height: 316px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px auto 0px;
        margin-bottom: 3rem;
        overflow: hidden;
        & > img {
            transition: transform 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.list-information {
    & > .information-main {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        & > .information-title {
            color: var(--color-red);
            text-align: start;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            height: 50px;
            line-height: 50px;
        }
        & > .information-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            & > .information-content-left {
                & > .information-price {
                    font-size: 18px;
                    color: var(--color-red);
                    text-align: start;
                    margin: 0 0 1rem 0;
                }
                & > .information-icon {
                    text-align: start;
                    margin-bottom: 2rem;
                    & > .icon-color-yellow {
                        color: #f0e713;
                        font-size: 1.9rem;
                    }
                    & > .icon-color {
                        color: #292d32;
                        opacity: 0.2;
                        font-size: 1.9rem;
                    }
                }
            }
            & > .information-button {
                padding-right: 1rem;
                text-align: right;
                & > .information-button-main {
                    opacity: 0.7;
                    background-color: #982d41;
                    color: var(--color-fff1);
                    border-radius: 10px;
                    font-size: 1.6rem;
                    width: 100px;
                    height: 40px;
                    right: 11px;
                    top: 4.5rem;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background-color: #982d41db;
                    }
                }
            }
        }
    }
}
.information-padding {
    background-color: #000;
    height: 100px;
}
.skeleton-container {
    & > .skeleton {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        justify-content: center;
        margin-top: 50px;
        & > div > div > span.Skeleton-image {
            height: 350px;
        }
    }
}
@keyframes s7 {
    100% {
        transform: rotate(1turn);
    }
}
