.container {
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    z-index: 1;
    display: flex;
    justify-content: center;
    & > .box {
        margin-top: 5rem;
        width: 60%;
        height: max-content;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        & > div {
            flex: 1;
        }
        & > .box-left {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            align-items: center;
            justify-content: center;
            transition: all 1s ease-in-out;
            & > .title {
                & > h2 {
                    margin: 0;
                    font-size: 3rem;
                    color: #564044;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    & > span {
                        font-family: 'Skranji', cursive;
                    }
                }
            }
            & > .paragraph {
                & > p {
                    margin: 0;
                    margin: 0;
                    font-size: 2rem;
                    color: #564044;
                    font-weight: 300;
                }
            }
            & > .control-form {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                flex-direction: column;
                & > span {
                    color: #150a0a80;
                    font-size: 1.5rem;
                }
                & > .control-button {
                    padding: 1.5rem 5rem;
                    cursor: pointer;
                    background-color: #9e4857;
                    border-radius: 2rem;
                    transition: all 0.3s ease-in-out;
                    & > span {
                        font-size: 2rem;
                        color: #fcf4f6;
                    }
                    &:hover {
                        background-color: #9e4857c4;
                    }
                }
            }
        }
        & > .box-right {
            background-color: #ffffff;
            display: flex;
            // align-items: flex-start;
            justify-content: spface-evenly;
            flex-direction: column;
            transition: all 1s ease-in-out;
            padding-left: 1rem;
            & > .title {
                margin-top: 2rem;
                & > h2 {
                    margin: 0;
                    font-size: 3rem;
                    color: #564044;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                & > .register {
                    font-size: 1.75rem;
                }
            }
            & > .form-input {
                width: 100%;
                & > form {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 90%;
                    gap: 2rem;
                    & > .input {
                        width: 100%;
                        text-align: start;
                        padding: 1rem 10px;
                        border: 1px solid #000000;
                        border-radius: 2rem;
                        margin-left: 10px;
                        cursor: text;
                        position: relative;
                        & > input {
                            width: 100%;
                            padding: 0;
                            border: none;
                            outline: none;
                            color: var(--color-red);
                        }
                        & > .active-password {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 5%;
                            & > i {
                                cursor: pointer;
                                color: var(--color-red);
                            }
                        }
                    }
                    & > .button-submit {
                        & > button {
                            padding: 1rem 5rem;
                            cursor: pointer;
                            background-color: #9e4857;
                            border-radius: 2rem;
                            transition: all 0.3s ease-in-out;
                            & > span {
                                font-size: 2rem;
                                color: #fcf4f6;
                            }
                            &:hover {
                                background-color: #9e4857c4;
                            }
                        }
                    }
                    & > .forgot-password {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        & > span {
                            color: var(--color-red);
                            cursor: pointer;
                            font-size: 1.25rem;
                        }
                    }
                }
                & > .form-register {
                    & > div {
                        & > label {
                            font-size: 1.4rem;
                        }
                        & > div {
                            margin-top: 18px;
                        }
                        & > p {
                            font-size: 10px;
                        }
                    }
                    & > .button-register {
                        padding: 1rem 3rem;
                        margin-bottom: 1.3rem;
                        cursor: pointer;
                        background-color: #9e4857;
                        border-radius: 2rem;
                        transition: all 0.3s ease-in-out;
                        & > span {
                            font-size: 2rem;
                            color: #fcf4f6;
                        }
                        &:hover {
                            background-color: #9e4857c4;
                        }
                    }
                    & > .authentication-phone-number {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 1rem;
                        & > .input-submit-phone-number {
                            display: flex;
                            align-items: center;
                            gap: 3rem;
                            & > div {
                                width: 50%;
                                & > label {
                                    font-size: 1.4rem;
                                }
                                & > div {
                                    margin-top: 18px;
                                }
                                & > p {
                                    font-size: 10px;
                                }
                            }
                            & > .button-OTP {
                                padding: 1rem 2rem;
                                cursor: pointer;
                                background-color: #9e4857;
                                border-radius: 1rem;
                                transition: all 0.3s ease-in-out;
                                & > span {
                                    font-size: 1.2rem;
                                    color: #fcf4f6;
                                }
                                &:hover {
                                    background-color: #9e4857c4;
                                }
                            }
                        }
                        & > .input-otp {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            & > div {
                                & > label {
                                    font-size: 1.4rem;
                                }
                                & > div {
                                    margin-top: 18px;
                                }
                                & > p {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
            & > .divide {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translate(-15px, -50%);
                width: 100%;
                gap: 1rem;
                & > hr {
                    height: 1px;
                    width: 40%;
                    background-color: #000000;
                    margin: 0;
                    border: none;
                }
            }
            & > .login-networking {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1rem;
                margin-bottom: 2.8rem;
                & > .login {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 90%;
                    padding: 1rem 10px;
                    border: 1px solid #000000;
                    border-radius: 2rem;
                    margin-left: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                & > .login-facebook {
                    background-color: #4692f5;
                    & > div {
                        width: max-content;
                        background-color: #4692f5;
                        color: var(--color-fff1);
                        font-size: 1.5rem;
                        & > button {
                            width: 100% !important;
                            background-color: #4692f5 !important;
                            height: auto !important;
                            border: none !important;
                            border-radius: 0 !important;
                            box-shadow: none !important;
                            margin: 0 !important;
                            font-size: 1.5rem !important;
                            & > div > div > svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    &:hover {
                        opacity: 0.9;
                    }
                }
                & > .login-google {
                    background-color: #f54646;
                    color: var(--color-fff1);
                    font-size: 1.5rem;
                    & > i {
                        font-size: 2rem;
                    }
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        & > .box {
            width: 90%;
            margin-top: 10rem;
            z-index: 100;
            & > .box-left {
                gap: 3rem !important;
                & > .title {
                    h2 {
                        font-size: 2.1rem;
                    }
                }
                & > .paragraph {
                    & > p {
                        font-size: 1.6rem;
                    }
                }
                & > .control-form {
                    margin-bottom: 2rem;
                    & > button {
                        padding: 1rem 1rem !important;
                    }
                }
            }
            .input-submit-phone-number {
                & > div {
                    width: 60% !important;
                }
                & > .button-OTP {
                    padding: 1px 1px !important;
                }
            }
            & > .box-right {
                & > .title {
                    margin-bottom: 1rem;
                    & > h2 {
                        font-size: 2.4rem;
                    }
                }
                & > .form-input {
                    & > form {
                        width: 94%;
                        & > .input {
                            margin-left: 0;
                        }
                        & > .button-submit {
                            & > button {
                                padding: 1rem 3rem;
                            }
                        }
                        & > .forgot-password {
                            margin-bottom: 1rem;
                        }
                    }
                }
                & > .login-networking {
                    & > button {
                        margin-left: 0 !important;
                        padding: 5px 1rem !important;
                    }
                }
            }
        }
    }
}
@media (min-width: 601px) and (max-width: 1023px) {
    .container {
        & > .box {
            width: 90% !important;
            margin-top: 12rem;
        }
    }
    .box-left {
        & > .title {
            & > h2 {
                font-size: 2.5rem !important;
            }
        }
        & > .paragraph {
            & > p {
                font-size: 17px !important;
            }
        }
    }
    .box-right {
        & > .title {
            margin-top: 4rem !important;
            margin-bottom: 2rem;
        }
    }

    .button-OTP {
        padding: 10px 10px !important;
    }

    .login-networking {
        margin-bottom: 4.8rem;
        margin-top: 2rem;
    }
}
