.pay-home {
    background: whitesmoke;
    font-size: 1.5rem;
    & > .pay-home-main {
        width: 100%;
        & > .pay-main-list {
            margin-bottom: 5rem;
            width: 87%;
            margin: 0 auto;
        }
    }
    & > .custom-loader {
        --d: 25px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        color: var(--color-red);
        margin: 10rem auto;
        box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0, calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 2px,
            calc(0 * var(--d)) calc(1 * var(--d)) 0 4px, calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 6px,
            calc(-1 * var(--d)) calc(0 * var(--d)) 0 8px, calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 10px,
            calc(0 * var(--d)) calc(-1 * var(--d)) 0 12px;
        animation: s7 1s infinite steps(8);
    }
}

.pay-home-border {
    width: 100%;
    height: 100px;
    background-color: #000000;
    margin-top: 5rem;
}
.pay-main-information {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1.8rem;
    & > .pay-information-add {
        background: #fff;
        border-top: 8px solid red;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin-bottom: 4rem;
        & > .information-add-title {
            display: flex;
            align-items: center;
            color: var(--color-red78);
            & > i {
                margin: 0 10px;
            }
            & > p {
                font-size: 14px;
            }
        }
        & > .information-add-list {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #000bff;
            font-size: 14px;
            width: max-content;
            & > i {
                margin: 0 10px;
            }
        }
        & > .change-address {
            float: right;
            padding-right: 10px;
        }
        & > p {
            text-align: start;
            margin: 0;
            padding-left: 10px;
            & > span {
                color: var(--color-red);
            }
            & > .alias {
                font-weight: bold;
                font-size: 2rem;
                margin-right: 5px;
            }
            & > label {
                padding: 5px 8px;
                border: 1px solid var(--color-red);
                border-radius: 10px;
                margin-left: 10px;
                color: #ff0030;
            }
        }
    }
}

.pay-information-product {
    background-color: #fff;
}
.information-product-main {
    & > .information-product-title {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
        & > h3 {
            text-align: left;
            margin-left: 2rem;
        }
        & > p {
            font-size: 17px;
            color: #000000;
            opacity: 0.7;
        }
    }
}

.information-product-list {
    & > .product-list-item {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
        & > .product-item-img {
            width: 80px;
            height: 80px;
            margin: 0 auto;

            & > img {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                border: 1px solid var(--color-red78);
            }
        }
    }
}
.product-item-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & > .product-data-left {
        text-align: left;
        flex: 1;
        & > h3 {
            font-size: 17px;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        & > p {
            color: #000000;
            opacity: 0.7;
            font-size: 14px;
        }
    }
    & > .product-data-right {
        & > p {
            color: #000000;
            opacity: 0.7;
            font-size: 13px;
        }
    }
}
.product-item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    & > p {
        font-size: 14px;
    }
}
.product-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    & > p {
        font-size: 15px;
    }
}
.information-product-last {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    & > .information-last-input {
        display: flex;
        width: 35%;
        align-items: center;
        justify-content: space-between;
        & > p {
            margin-right: 12px;
            margin-left: 2rem;
            font-size: 14px;
        }
        & > input {
            width: 69%;
            padding: 10px 5px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
    }
    & > .information-last-fee {
        display: flex;
        width: 35%;
        justify-content: space-around;
        & > .information-fee-left {
            color: #000000;
            font-size: 15px;
            opacity: 0.7;
        }
        & > .information-fee-right {
            text-align: right;
            font-size: 15px;
        }
    }
}
.information-product-total {
    text-align: right;
    & > .information-total-left {
        display: flex;
        margin-right: 6rem;
        justify-content: flex-end;
        align-items: center;
        font-size: 16px;
        & > p:first-child {
            margin-right: 4rem;
            color: #000000;
            opacity: 0.7;
        }
        & > p:last-child {
            color: var(--color-red78);
            font-size: 18px;
            font-weight: 700;
        }
    }
}
.pay-order-main {
    display: flex;
    background: #fff;
    margin-top: 5rem;
    flex-direction: column;
    padding-bottom: 3rem;
    & > .order-main-title {
        display: flex;
        margin-left: 2rem;
        font-size: 15px;
    }
    & > .order-main-fee {
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-left: 2rem;
        & > p {
            margin-right: 2rem;
            text-decoration: underline;
            font-size: 15px;
        }
        & > span {
            color: #000000;
            opacity: 0.7;
            font-size: 15px;
        }
    }
}
.order-main-total {
    border-bottom: 1px solid #ccc;
    & > .order-total-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 6rem;
        font-size: 14px;

        & > .order-list-right {
            margin-left: 11rem;
            text-align: right;
        }
    }
}
.order-main-button {
    text-align: right;
    margin-top: 3rem;
    & > button {
        width: 200px;
        height: 45px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        background: var(--color-red78);
        margin-right: 6rem;
        transition: all 0.25s ease-in-out;
        &:hover {
            opacity: 0.9;
        }
    }
}
@media only screen and (max-width: 600px) {
    .pay-main-list {
        width: 92% !important;
    }
    .information-product-title {
        grid-template-columns: 1.2fr 1.8fr 1fr 1fr 1fr !important;
        & > h3 {
            margin-left: 0rem !important;
            font-size: 15px;
            margin-top: 22px;
        }
    }
    .product-list-item {
        grid-template-columns: 1fr 2.2fr 1fr 0.8fr 1fr !important;
        & > .product-item-img {
            width: 70px !important;
            height: 70px !important;
        }
    }
    .product-data-left {
        margin-left: 6px !important;
        & > h3 {
            margin: 0;
            font-size: 16px !important;
        }
        & > p {
            margin-top: 0 !important;
        }
    }
    .product-data-right {
        display: none;
    }
    .information-last-input {
        width: 45% !important;
        justify-content: flex-start !important;
        flex-direction: column;
        & > p {
            margin-left: 0 !important;
            margin-top: 12px !important;
            font-size: 16px !important;
        }
        & > input {
            width: 95% !important;
            padding: 16px 5px !important;
        }
    }
    .information-last-fee {
        width: 48% !important;
        & > .information-fee-left {
            text-align: left !important;
        }
    }
    .information-total-left {
        margin-right: 0 !important;
    }
    .order-main-title {
        margin-left: 0 !important;
    }
    .order-main-fee {
        margin-left: 0 !important;
        justify-content: space-around;
    }
    .order-total-list {
        margin-right: 0 !important;
        justify-content: space-around !important;
    }
    .order-main-button {
        & > button {
            margin-right: 2rem !important;
        }
    }
    @media (min-width: 374px) and (max-width: 415px) {
        .information-product-title {
            grid-template-columns: 1.4fr 1.6fr 1fr 1fr 1fr !important;
        }
    }
}
@media (min-width: 601px) and (max-width: 1023px) {
    .pay-main-list {
        width: 95% !important;
    }
    .information-add-title {
        & > p {
            margin: 15px 0;
            font-size: 23px !important;
        }
        & > i {
            font-size: 23px !important;
        }
    }
    .information-add-list {
        font-size: 19px !important;
        & > p {
            margin: 5px 0;
        }
    }
    .product-list-item {
        grid-template-columns: 1fr 2.2fr 1fr 0.7fr 1fr !important;
        & > .product-item-img {
            width: 96px !important;
            height: 96px !important;
        }
    }
    .product-data-left {
        & > h3 {
            font-size: 22px !important;
            margin: 15px 0;
        }
    }
    .font-20 {
        & > p {
            font-size: 20px !important;
        }
    }
    .font-22 {
        & > h3 {
            font-size: 19px !important;
        }
        & > p {
            font-size: 22px !important;
        }
        & > span {
            font-size: 22px !important;
        }
    }

    .information-last-input {
        width: 55% !important;
        & > p {
            font-size: 21px !important;
        }
        & > input {
            width: 72% !important;
            font-size: 18px;
            padding: 19px 5px !important;
        }
    }
    .information-last-fee {
        width: 38% !important;
    }

    .order-main-title {
        & > h3 {
            font-size: 23px !important;
        }
    }
    .information-total-left {
        margin-right: 1rem !important;
    }
    .order-total-list {
        margin-right: 1rem !important;
    }
    .order-main-button {
        & > button {
            font-size: 24px !important;
            height: 65px !important;
            margin-right: 2rem !important;
        }
    }
}
@keyframes s7 {
    100% {
        transform: rotate(1turn);
    }
}
