.home-page-product {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f1f1;
    margin-bottom: 2rem;
    margin-top: 11rem;
    & > .page-product-main {
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    .home-page-product {
        margin-top: 3rem !important;
    }
}
@media (min-width: 601px) and (max-width: 1023px) {
}
