.home-page-product {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f1f1;
    margin-bottom: 2rem;
    & > .page-product-main {
        width: 90%;
    }
}
