.menu-shop-main {
    width: 90%;
    margin: 0 auto;
    & > .menu-main-title {
        display: flex;
        justify-content: space-between;
        width: 94%;
        margin: 0 auto;
        & > h2 {
            color: #000000;
            opacity: 0.6;
        }
    }
}
.menu-main-information {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-information-right {
    position: absolute;
    right: 30px;
}
.main-information-left {
    width: 1260px !important;
    margin-top: 3rem;
    & > .main-information-list {
        align-items: center;
        gap: 7rem;
        padding: 0;
        & > div {
            & > button {
                display: none !important;
            }
            & > div {
                & > div {
                    & > div {
                        width: none !important ;
                    }
                }
            }
        }
    }
}
.main-information-item {
    cursor: pointer;
    font-weight: 600;
    position: relative;
    // background-color: aquamarine;
    width: max-content !important;

    padding: 8px 6px;
    & > span {
        // background-color: red;
        font-size: 1.5rem;
        color: var(--back-ground-red);
        padding: 6px 13px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--back-ground-red);
        bottom: -1px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.information-item {
    border: none;
    font-size: 16px;
    padding-right: 8px;
    opacity: 0.8;
    border-radius: 6px;
    color: #000;
    transform: scale(1.2);
    outline: none;
    & > option {
        padding: 2px 2px;
        color: #000;
    }
}
.information-item-left {
    border: none;
    font-size: 16px;
    padding-right: 8px;
    opacity: 0.8;
    border-radius: 6px;
    color: #000;
    transform: scale(1.2);
    outline: none;
    cursor: pointer;
    & > .selected-option {
        color: var(--color-red);
        cursor: pointer;
        background-color: transparent;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
}
.information-item-right {
    width: 98%;
    font-size: 1.25rem;
    border-radius: 9px;
    text-align: center;
    padding: 7px;
    appearance: none;
    cursor: pointer;
    outline: none;
    border: 3px solid #ccc;
    color: var(--color-red);
    & > option {
        cursor: pointer;
        background-color: transparent;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-information-right {
        right: 3px;
        width: 30%;
    }
    .main-information-left {
        width: 700px !important;
    }
    .main-information-item {
        margin-right: 2.2rem;
    }
}
@media (min-width: 601px) and (max-width: 1023px) {
    .menu-shop-main {
        width: 96% !important;
        & > .menu-main-title {
            & > h2 {
                font-size: 22px;
            }
        }
    }
    .main-information-right {
        right: 20px;
    }
    .main-information-list {
        gap: 2rem !important;
    }
    .main-information-item {
        & > span {
            font-size: 1.7rem !important;
        }
    }
    @media (min-width: 767px) and (max-width: 769px) {
        .main-information-item {
            & > span {
                font-size: 1.6rem !important;
            }
        }
    }
}
