.menu-shop-main {
    width: 90%;
    margin: 0 auto;
    & > .menu-main-title {
        display: flex;
        justify-content: space-between;
        width: 96%;
        & > h2 {
            color: #000000;
            opacity: 0.6;
        }
    }
}
.menu-main-information {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 2fr;
    gap: 1rem;
}
.main-information-left {
    & > .main-information-list {
        display: flex;
        align-items: center;
        gap: 7rem;
        padding: 0;
        & > .main-information-item {
            cursor: pointer;
            font-weight: 600;
            position: relative;
            & > span {
                font-size: 1.5rem;
                color: var(--back-ground-red);
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: var(--back-ground-red);
                bottom: -10px;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }
            &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }
}

.information-item {
    border: none;
    font-size: 16px;
    padding-right: 8px;
    opacity: 0.8;
    border-radius: 6px;
    color: #000;
    transform: scale(1.2);
    outline: none;
    & > option {
        padding: 2px 2px;
        color: #000;
    }
}
.information-item-left {
    border: none;
    font-size: 16px;
    padding-right: 8px;
    opacity: 0.8;
    border-radius: 6px;
    color: #000;
    transform: scale(1.2);
    outline: none;
    cursor: pointer;
    & > .selected-option {
        color: var(--color-red);
        cursor: pointer;
        background-color: transparent;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }
}
.information-item-right {
    width: 98%;
    font-size: 19px;
    border-radius: 9px;
    text-align: center;
    padding: 7px;
    appearance: none;
    cursor: pointer;
    outline: none;
    border: 3px solid #ccc;
}

@media only screen and (max-width: 600px) {
}
@media (min-width: 601px) and (max-width: 1023px) {
    .main-information-list {
        gap: 4rem !important;
    }
}
