.cart {
    width: 100%;
    background: whitesmoke;
    & > .cart-main {
        margin-bottom: 5rem;
        & > .cart-main-link {
            width: 87%;
            margin: 0 auto;
        }
    }
}
.cart-main-check {
    width: 94%;
    margin: 0 auto;
    margin-top: 1rem;
    & > .main-check-list {
        display: flex;
        align-items: center;
        & > input[type='checkbox'] {
            margin-right: 8px;
            height: 18px;
            width: 18px;
            cursor: pointer;
            background-color: #efefef;
            color: #333;
            &:checked {
                color: var(--color-red);
                background-color: var(--color-fff1);
            }
        }
        & > label {
            cursor: pointer;
        }
    }
}
.cart-main-information {
    width: 94%;
    margin: 0 auto;
    margin-top: 3rem;
    & > .main-information-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        & > .custom-loader {
            position: relative;
            top: 5%;
            left: 25%;
            --d: 25px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            color: var(--color-red);
            box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0, calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 2px,
                calc(0 * var(--d)) calc(1 * var(--d)) 0 4px, calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 6px,
                calc(-1 * var(--d)) calc(0 * var(--d)) 0 8px, calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 10px,
                calc(0 * var(--d)) calc(-1 * var(--d)) 0 12px;
            animation: s7 1s infinite steps(8);
        }
    }
}
.information-list-left {
    width: 59%;
    & > .information-left-item {
        background: #e9e9e9;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        & > .left-item-body {
            display: flex;
            align-items: flex-start;
            // width: 45%;
            position: relative;
            & > .item-discount {
                width: 27px;
                height: 27px;
                background: var(--color-red78);
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 11px;
                color: #fff;
                margin-left: 13px;
                margin-top: 11px;
                position: absolute;
                top: 5px;
                left: 5px;
            }
            & > .item-img {
                width: 271px;
                height: 335px;
            }
            // & > .left-icon {
            //     position: absolute;
            //     top: 5px;
            //     right: 5px;
            //     font-size: 20px;
            //     margin-top: 11px;
            //     color: red;
            //     margin-right: 13px;
            // }
        }
    }
}

.left-item-data {
    width: 53%;
    & > .item-data-main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        & > .data-main-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > h3 {
                font-size: 19px;
                margin: 15px 0;
                color: var(--color-red78);
            }
            & > input {
                width: 20px;
                height: 20px;
                margin-right: 11px;
                cursor: pointer;
            }
        }
        & > .data-main-list {
            color: var(--color-red78);
            opacity: 0.8;
            & > :first-child {
                margin: 0;
            }
            & > :nth-child(2),
            :nth-child(3) {
                margin: 5px 0;
            }
        }
        & > .data-main-price {
            color: red;
            font-weight: 700;
            font-size: 18px;
        }
    }
}
.data-main-quantity {
    display: flex;
    justify-content: space-between;
    width: 95%;
    & > .main-quantity-left {
        & > h3 {
            color: var(--color-red78);
        }
        & > .main-left-icon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1.5rem;
            & > span {
                font-size: 2rem;
                color: var(--color-red);
            }
            & > .icon-list {
                width: 35px;
                border-radius: 1rem;
                height: 35px;
                color: var(--color-red);
                text-align: center;
                line-height: 35px;
                cursor: pointer;
                border: 1px solid #000000;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: var(--color-fff1);
                    background-color: var(--back-ground-red);
                }
            }
        }
    }
    & > .main-quantity-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > .total-money {
            display: flex;
            justify-content: space-between;
            & > p {
                margin-top: 19px;
                font-size: 17px;
                color: var(--color-red78);
                font-weight: 700;
            }
        }
        & > .delete-product {
            width: max-content;
            & > button {
                width: 35px;
                height: 35px;
                cursor: pointer;
                border: 1px solid var(--color-red);
                border-radius: 50%;
                transition: all 0.25s ease-in-out;
                & > svg {
                    font-size: 2rem;
                    color: var(--color-red);
                }
                &:hover {
                    background-color: var(--back-ground-red);
                    & > svg {
                        color: var(--color-fff1);
                    }
                }
            }
        }
    }
}
.information-list-right {
    width: 40%;
    height: max-content;
    text-align: left;
    position: sticky;
    top: 0;
}
.information-right-total {
    padding: 0 12px;
    border: 1px solid #ccc;
    color: var(--color-red78);
    & > .right-total-title {
        & > h2 {
            margin-bottom: 0;
        }
        & > p {
            margin: 0;
        }
    }
}

.right-total-data {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.right-total-add {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    & > .total-add-left {
        & > h3 {
            margin: 0;
        }
    }
    & > .total-add-right {
        & > h3 {
            margin: 0;
        }
        & > p {
            text-align: right;
        }
    }
}
.right-total-list {
    & > .total-list-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;
        & > p {
            font-size: 21px;
            font-weight: 600;
        }
    }
}
.information-right-pay {
    margin-top: 5rem;
}
.right-main-list {
    padding: 0 12px;
    & > .main-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ccc;
        cursor: pointer;
        & > .list-item-left {
            display: flex;
            align-items: center;
            & > i {
                font-size: 21px;
            }
            & > p {
                font-size: 2rem;
                margin-left: 10px;
            }
        }
    }
}
.right-main-information {
    border-top: 1px solid;
    font-size: 18px;
    padding: 0 12px;
}
.right-main-information {
    border-top: 1px solid #ccc;
    & > p {
        font-size: 19px;
    }
}
.right-main-button {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    & > button {
        height: 45px;
        background: var(--color-red78);
        border-radius: 10px;
        cursor: pointer;
        font-size: 21px;
        text-align: center;
        font-weight: 600;
        color: #fff;
        transition: all 0.25s ease-in-out;
    }
    & > button:nth-child(1):hover {
        background-color: rgba(116, 6, 6, 0.668);
    }
    & > button:nth-child(2) {
        background-color: #fff;
        color: var(--color-red78);
        margin-top: 2rem;
        border: 1px solid #ccc;
        &:hover {
            opacity: 0.8;
        }
    }
}
.cart-main-watched {
    width: 94%;
    margin: 0 auto;
    margin-top: 13rem;
    & > h1 {
        text-align: left;
        color: var(--color-red78);
    }
}

@keyframes s7 {
    100% {
        transform: rotate(1turn);
    }
}
@media only screen and (max-width: 600px) {
}
@media (min-width: 601px) and (max-width: 1023px) {
    .left-item-body {
        width: 48% !important;
        & > .item-discount {
            width: 28px !important;
        }
        & > .item-img {
            height: 290px !important;
            width: max-content !important;
            padding: 12px;
        }
    }
    .data-main-list {
        font-size: 14px;
    }
    .data-main-price {
        & > p {
            margin: 0;
        }
    }
    .main-quantity-left {
        & > h3 {
            font-size: 16px;
        }
    }
    .main-quantity-right {
        width: max-content !important;
        & > h3 {
            font-size: 16px !important;
        }
        & > p {
            font-size: 16px !important;
            margin-top: 16px !important;
        }
    }
    .right-total-title {
        & > h2 {
            margin-top: 10px !important;
            font-size: 21px;
            margin-bottom: 5px;
        }
    }
    .total-data-right {
        & > :first-child {
            margin: 0;
        }
    }
    .total-add-left {
        & > p {
            font-size: 12px;
        }
    }
    .total-add-right {
        & > p {
            font-size: 12x;
        }
    }
    .total-list-left {
        & > h1 {
            font-size: 18px !important;
        }
    }
}
