.page-slide-slick {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    background-color: #ccc;
}
.slide-slick-img {
    width: 290px;
    height: 290px;

    & > img {
        object-fit: contain;
    }
}
