.evaluate-main-comment {
    width: 100%;
    text-align: left;
    border-top: 1px solid var(--color-red78);
    & > .comment-body {
        width: 100%;
    }
}
.comment-body-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .title-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > p {
            color: var(--color-red78);
            font-weight: 600;
            margin: 0;
            margin-right: 20px;
            font-size: 19px;
        }
    }
    & > .title-right {
        color: var(--color-red78);
    }
}
.comment-information-list {
    color: var(--color-red78);
    & > .information-list-title {
        margin-bottom: 25px;
        & > h3 {
            font-size: 17px;
        }
        & > p {
            margin: 10px 0;
            font-size: 15px;
        }
    }
    & > .information-list-item {
        & > p {
            margin: 10px 0;
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .comment-body-title {
        & > .title-left {
            & > p {
                font-size: 21px;
                margin-right: 10px;
            }
        }
        & > .title-right {
            & > p {
                font-size: 16px;
            }
        }
    }
}
@media (min-width: 601px) and (max-width: 1023px) {
    .title-left {
        & > p {
            font-size: 3rem !important;
        }
    }
    .title-right {
        & > p {
            font-size: 20px;
        }
    }
    .information-list-title {
        & > h3 {
            font-size: 22px !important;
        }
        & > p {
            font-size: 20px !important;
            margin: 8px 0 !important;
        }
    }
    .information-list-item {
        & > p {
            font-size: 20px !important;
            margin: 8px 0 !important;
        }
    }
}
