.form-add {
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: antiquewhite;
    position: absolute;
    left: 18rem;
    width: 70%;
    top: 0;
    z-index: 10;
    & > .form-add-main {
        /* height: 100%; */
        padding: 5px 10px;
    }
}
.form-add-title {
    & > h3 {
        display: flex;
    }
    & > .form-add-input-name {
        display: grid;
        width: 95%;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        /* height: 50px; */
        gap: 25px;
        background: antiquewhite;
        overflow: hidden;
        & > .box-input {
            width: 100%;
            text-align: start;
            & > p {
                padding-left: 10px;
                margin: 0;
                color: #e41a1a;
                font-size: 1.25rem;
            }
            & > .add-input-name {
                width: 100%;
                height: 50px;
                border-radius: 10px;
                background-color: var(--back-ground-fff);
                position: relative;
                & > input {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ccc;
                    padding-left: 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}
.form-add-input-address {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
}
.form-add-input-note {
    width: 94%;
    margin: 0 auto;
    margin-top: 3rem;
    & > input {
        width: 100%;
        resize: vertical;
        border: 0.8px solid #ccc;
        padding: 15px 10px;
        border-radius: 10px;
        &:hover {
            border: 0.8px solid #000000;
        }
    }
}
.form-add-input-check {
    display: flex;
    width: 94%;
    margin: 0 auto;
    margin-top: 3rem;
    & > input {
        margin-right: 11px;
    }
}
.form-add-button {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3rem;
    & > button {
        border-radius: 20px;
        width: 150px;
        height: 40px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover {
            opacity: 0.8;
        }
    }
    & > .button-first {
        background-color: #ccc;
        color: var(--color-red);
        margin-right: 16px;
    }
    & > .button-last {
        color: var(--color-fff1);
        background: var(--back-ground-red);
    }
}
@media only screen and (max-width: 600px) {
    .form-add {
        width: 98% !important;
        left: 4px !important;
    }
    .form-add-title {
        & > h3 {
            font-size: 19px;
        }
    }
    .form-add-input-address {
        width: 100% !important;
        margin-top: 1rem !important;
        & > div {
            width: 33% !important;
            margin: 0px 3px;
            & > div {
                font-size: 16px !important;
                & > div {
                    padding-right: 19px !important;
                }
                & > svg {
                    font-size: 19px !important;
                }
            }
        }
    }
    .input-text {
        font-size: 13px !important;
    }
    .form-add-input-note {
        margin-top: 1rem !important;
        & > textarea {
            width: 99% !important;
            margin-top: 2px;
        }
    }
    .form-add-input-check {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
        align-items: center;
        & > input {
            height: 20px;
            width: 20px;
        }
        & > label {
            font-size: 19px;
        }
    }
    @media (max-width: 376px) {
        .form-add-main {
            padding: 0 !important;
        }
    }
}
@media (min-width: 601px) and (max-width: 1023px) {
    .form-add {
        width: 85% !important;
        left: 7rem !important;
    }
    .form-add-title {
        & > h3 {
            font-size: 22px;
        }
    }
    .add-input-name {
        height: 60px !important;
        & > input {
            font-size: 19px !important;
            width: 100% !important;
        }
    }
    .form-add-input-address {
        & > div {
            width: 31% !important;
            & > div {
                font-size: 20px !important;
                & > svg {
                    font-size: 30px !important;
                }
            }
        }
    }
    .input-text {
        font-size: 19px !important;
    }
    .form-add-input-note {
        & > textarea {
            font-size: 22px;
        }
    }
    .form-add-input-check {
        height: 40px;
        align-items: center;
        & > input {
            height: 41px;
            width: 25px;
        }
        & > label {
            font-size: 20px;
        }
    }
    .form-add-button {
        width: 100% !important;
        & > button {
            width: 165px !important;
            height: 50px !important;
            font-size: 20px !important;
        }
    }
}
