.detail-shop {
    width: 100%;
    background: whitesmoke;
    & > .detail-shop-main {
        width: 87%;
        margin: 0 auto;
        margin-bottom: 5rem;
        & > .detail-shop-main {
            width: 100%;
        }
    }
    & > .detail-shop-border {
        height: 85px;
        background: #000;
        width: 100%;
    }
}
.detail-shop-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.detail-information-left {
    position: relative;
    width: 47%;
    & > .information-left-img {
        width: 613px;
        height: 613px;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 11px;
    }
    & > .information-left-icon {
        position: absolute;
        right: 33px;
        top: 22px;
        color: red;
        font-size: 21px;
    }
    & > .information-left-slide {
        margin-top: 3.5rem;
    }
}
.left-slide-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .slider-main-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > .main-list-img {
            cursor: pointer;
            width: 111px;
            height: 111px;
            border-radius: 7px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin: 0 4px;
        }
    }
}
.detail-information-right {
    background-color: var(--back-ground-fff);
    width: 50%;
    position: relative;
    & > .custom-loader {
        --d: 35px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 15%;
        color: var(--color-red);
        box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0, calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 2px,
            calc(0 * var(--d)) calc(1 * var(--d)) 0 4px, calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 6px,
            calc(-1 * var(--d)) calc(0 * var(--d)) 0 8px, calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 10px,
            calc(0 * var(--d)) calc(-1 * var(--d)) 0 12px;
        animation: s7 1s infinite steps(8);
    }
}
.information-right-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding: 10px;
    & > h1 {
        color: var(--color-red78);
        font-size: 3rem;
        opacity: 0.8;
        margin: 17px 0;
    }
    & > p {
        margin: 14px 0;
        color: var(--color-red78);
        opacity: 0.9;
    }
}
.price-main {
    & > .discount {
        margin: 0;
        text-decoration: line-through;
        color: var(--color-red78);
        opacity: 0.7;
        font-size: 16px;
    }
    & > .current {
        margin: 7px 0;
        font-size: 23px;
        color: red;
        font-weight: 700;
    }
}
.information-list {
    & > h3 {
        color: var(--color-red78);
        font-weight: 700;
        font-size: 2rem;
    }
    & > .color-list {
        display: flex;
        justify-content: space-between;
        width: 30%;
        & > div {
            cursor: pointer;
            width: 51px;
            height: 51px;
            border-radius: 10px;
            transition: opacity 0.25s ease-in-out;
            border: 2px solid transparent;
            &:hover {
                opacity: 0.85;
            }
        }
        & > .active {
            border: 2px solid #000000;
        }
    }
    & > .size-list {
        display: flex;
        justify-content: space-between;
        width: 40%;
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 51px;
            height: 51px;
            border-radius: 10px;
            border: 1px solid var(--color-red78);
            background-color: #fff;
            font-weight: 700;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            font-size: 2rem;
        }
        :hover {
            background-color: var(--back-ground-red);
            color: #fff;
        }
        & > .active {
            background-color: var(--back-ground-red);
            color: #fff;
        }
    }
}
.information-height {
    margin-top: 25px;
    & > .height-top-list {
        background: var(--back-ground-red);
        color: var(--color-fff1);
        display: flex;
        border-radius: 13px;
        justify-content: center;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        & > p {
            font-size: 18px;
            font-weight: 500;
            margin: 15px;
        }
        &:hover {
            opacity: 0.9;
        }
    }
    & > .height-bottom-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        font-size: 1.5rem;
        & > p {
            text-decoration: underline;
            margin-left: 4px;
            font-weight: 500;
        }
    }
}
.quantity-top-list {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    & > p {
        color: var(--color-red78);
        font-weight: 600;
    }
}
.quantity-bottom-list {
    width: max-content;
    & > .container {
        display: flex;
        align-items: center;
        gap: 1rem;
        & > span {
            width: 30px;
            height: 30px;
            border-radius: 10px;
            background-color: var(--back-ground-red);
            color: var(--color-fff1);
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #742433c7;
            }
        }
        & > p {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            margin: 0;
            font-size: 1.5rem;
            border: 1px solid var(--color-red);
            color: var(--color-red);
        }
    }
}
.custom-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    & > p {
        margin: 0;
        font-size: 2rem;
        color: var(--color-red);
        font-weight: 500;
    }
    & > .custom-loader.dot {
        width: 50px;
        height: 24px;
        background: radial-gradient(circle closest-side, #f43939 90%, #0000) 0% 50%,
            radial-gradient(circle closest-side, #f43939 90%, #0000) 50% 50%,
            radial-gradient(circle closest-side, #f43939 90%, #0000) 100% 50%;
        background-size: calc(100% / 3) 12px;
        background-repeat: no-repeat;
        animation: d3 1s infinite linear;
    }
}

.button-control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    & > button {
        width: 50%;
        background: var(--color-red78);
        font-size: 2rem;
        padding: 15px 0;
        text-align: center;
        color: #fff;
        margin-top: 25px;
        border-radius: 11px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    & > .button-cart {
        background-color: #fff5f1;
        border: 1px solid var(--back-ground-red);
        color: var(--back-ground-red);
    }
    & > button:hover {
        opacity: 0.8;
    }
}

.detail-shop-evaluate {
    width: 80%;
    background-color: #fff;
    padding: 10px;
    margin-top: 2rem;
}
.shop-evaluate-main {
    width: 100%;
}
.evaluate-main-title {
    display: flex;
    align-items: center;
    gap: 2rem;
    & > h1 {
        font-size: 29px;
        color: var(--color-red78);
    }
    & > h3 {
        font-size: 15px;
        color: var(--color-red78);
        font-weight: 500;
    }
}
.evaluate-main-item {
    display: flex;
    color: var(--color-red78);
}
.evaluate-main-button {
    background: #fff;
    display: flex;
    font-size: 19px;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid;
    padding: 8px 14px;
    margin-top: 29px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: var(--back-ground-red);
        color: var(--color-fff1);
    }
}
.detail-shop-watched {
    margin-top: 4rem;
    & > .shop-watched-title {
        display: flex;
        & > h2 {
            color: var(--color-red78);
        }
    }
    & > .shop-watched-products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        margin-top: 2rem;
        width: 100%;
        height: 500px;
        & > .shop-watched-product-item {
            background-color: #ffffff;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 1rem;
            position: relative;
            cursor: pointer;
            transition: box-shadow 0.3s ease-in-out;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            & > .list-discount {
                width: 31px;
                height: 31px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 12px;
                left: 17px;
                border-radius: 50%;
                font-size: 12px;
                background: #982d41;
                color: #fff;
                font-weight: 600;
            }
            & > .list-img {
                // width: 228px;
                height: 350px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1px auto 0px;
                margin-bottom: 3rem;
                overflow: hidden;
                border-radius: 1rem 1rem 0 0;
                & > img {
                    transition: all 0.3s ease-in-out;
                }
                &:hover > img {
                    transform: scale(1.2);
                }
            }
            & > .list-information {
                & > .information-main {
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    & > .information-title {
                        color: var(--color-red);
                        text-align: start;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 50px;
                        line-height: 50px;
                        margin: 0;
                        font-size: 2rem;
                    }
                    & > .bottom {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        & > .content-left {
                            & > .information-price {
                                font-size: 18px;
                                color: var(--color-red);
                                margin: 0 0 10px 0;
                                text-align: start;
                            }
                            & > .information-icon {
                                & > .icon-color-yellow {
                                    color: #f0e713;
                                    font-size: 1.9rem;
                                }
                                & > .icon-color {
                                    color: #292d32;
                                    opacity: 0.2;
                                    font-size: 1.9rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.information-button {
    text-align: right;
}
.information-button-main {
    opacity: 0.7;
    background-color: #982d41;
    color: var(--color-fff1);
    border-radius: 10px;
    font-size: 1.6rem;
    width: 100px;
    height: 40px;
    right: 11px;
    top: 4.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: #982d41db;
    }
}

.skeleton-container {
    & > .skeleton-main {
        height: 500px;
        & > div > span.Skeleton-image {
            height: 500px;
        }
    }
    & > .skeleton-list-image {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0.5rem;
        justify-content: center;
        margin-top: 50px;
        & > div > div > span.Skeleton-image {
            height: 150px;
        }
    }
}
@keyframes s7 {
    100% {
        transform: rotate(1turn);
    }
}
@keyframes d3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}
